form {
  margin-top: 40px;
}

form:first-child {
  margin-top: 0;
}

.user-story-container .btn,
.page-container .btn,
.feature-container .btn {
  margin-top: 32px;
}

.multi-form-container {
  flex-wrap: wrap;
}
.multi-form-container .form-container {
  width: 50%;
}
