.list-group,
.no-items {
  margin-top: 24px;
}

.list-group-item p {
  margin-bottom: 4px;
}
.list-item-description {
  text-overflow: ellipsis;
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}
