#footer {
  background-color: #e7e7e7;
  padding: 56px 56px;
}

.social-media {
  margin-top: 40px;
}
.social-media .icon-container {
  width: 56px;
}
.icon-container img {
  width: 100%;
}

.cta-container {
  background-color: #007bff;
  color: white;
  padding: 80px;
}
